.DS_Store
node_modules
/coverage
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
/.vscode

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

**/*.yml
/static
/tools/marvel-snap-scrapr
/src/generated
/src/assets